
body {
    font-family: sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
header, footer {
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #003366;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
